/*
style.css
    CSS stylesheet for constellationMap.html
*/

body {
    background-color: #acc7d4;
}

#tooltip {
    position: absolute;
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#uploads {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
}

#uploads input {
    font-family: inherit;
    font-size: 12px;
}

#genelists {
    position: absolute;
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#genelists.hidden {
    display: none;
}
#genelists p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

svg.canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*background: azure;*/
    /*-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
    /*-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
}

.arc {
    stroke: #ffffff;
    fill: #ffffff;
}

#phen {
    fill: #847985;
}

circle {
    fill: #0a8166;
}